/* Général */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #2D4B73, #e6f7ff);
    color: #333;
    line-height: 1.6;
}

/* Header avec fondu */
header {
    background: 
       
        url('enneigement.jpg') no-repeat center/cover;
    color: white;
    text-align: center;
    padding: 2em 0;
    position: relative;
    overflow: hidden;
}

.titleDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #eee;
}

/* Style du titre */
header h1 {
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Navigation */
nav ul {
    list-style: none;
    padding: 0;
    margin: 1em 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 0.5em 1.2em;
    border: 1px solid #fff;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
    background: rgba(0, 0, 0, 0.4);
}
li {
    justify-content: left;
}

nav ul li a:hover {
    background: rgba(255, 255, 255, 0.8);
    color: #34495e;
}

li, .introduction h5 {
    font-family: 'Arial', sans-serif; /* Même police que dans le body */
    font-size: 1em; /* Assurez une taille uniforme */
    font-weight: normal; /* Ajustez si besoin */
    color: #333; /* Harmonisez la couleur */
    line-height: 1.6; /* Assurez une lisibilité similaire */
}

/* Section principale */
main {
    padding: 2em;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    margin: 2em auto;
    max-width: 95%;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.introduction h4, .introduction h5 {
    margin: 0.5em 0;
    text-align: center;
}

/* Footer */
footer {
    text-align: center;
    padding: 1em 0;
    background: #004080;
    color: #fff;
    margin-top: 2em;
    font-size: 0.9em;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.controls label {
    margin: 0 10px;
    font-weight: bold;
}

.controls input[type="range"] {
    margin: 0 10px;
}

.controls select,
.mode-button {
    margin: 0 10px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.controls select:hover,
.mode-button:hover {
    background-color: #45a049;
}

#chart, #timeSeriesChart {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto; /* Ensure the chart is scrollable on smaller screens */
    background-color: #eee;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 5px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0.9;
}

.overlay {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 20%;
    background-color: #f8d7da;
    color: #721c24;
    padding: 15px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    z-index: 1000;
}
.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-weight: bold;
}

.warning-sign {
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    z-index: 1000;
}

/* Responsiveness */
@media screen and (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }
}
